* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: rgb(244, 248, 255);
}
header {
    background-color: rgb(23, 104, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .5), 0 2px 6px 2px rgba(60, 64, 67, .3);
    position: fixed;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 60px;
    font-weight: 500;
    color: white;
}
.linkBox {
    display: flex;
    justify-content: center;
    height: 75px;
    line-height: 75px;
    display: flex;
    align-items: center;
}
.topLinks {
    height: 100%;
    width: 130px;
    color: white;
    font-size: 20px;
}
.topLinks:hover {
    background-color: rgba(0, 0, 0, .2);
}
.myLinks {
    background-color: rgb(255, 55, 55);
    color: white;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    margin: 0 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .4), 0 2px 6px 2px rgba(60, 64, 67, .2);
    line-height: 30px;
}
.projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
}
.whack {
    width: 100%;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./images/Whack.png');
    border: 1px solid black;
}
.project {
    width: 50%;
    min-width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    /* border: 5px solid rgb(255, 169, 129); */
}
.name {
    color: rgb(145, 0, 0);
}